.h1 {
  font-family: $font-header;
  font-size: 26px;
  font-weight: $font-semibold;
  text-transform: uppercase;
}

.h2 {
  font-size: 14px;
  font-weight: $font-bold;
  text-transform: uppercase;
}

.h3 {
  font-size: 12px;
  font-weight: $font-bold;
  text-transform: uppercase;
}

.font-home{
  margin: 0;
  line-height: 1;
  color: $color-light;
  text-transform: uppercase;
  font-family: $font-header;

  &-bold{
    font-size: 24px;
    font-weight: $font-bold;
  }

  &-semibold{
    margin-top: 8px;
    font-size: 18px;
    font-weight: $font-semibold;
  }

  &-light{
    margin: 0;
    color: $color-light;
    font-size: $base-size;
    font-weight: 100;
  }
}

